body {
  background-color: #fdfdfd;
  margin: 0;
}

.background {
  background-image: url(/assets/Kobe\ Pic.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}



header > h1 > a {
  color: #015a9d;
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  text-decoration: none;
  font-weight: bolder;
  z-index: 1;
  font-size: 1.75em;
}

footer {
  padding: .5em;
  background-color: #015a9d;
  display: flex;
  justify-content: space-around;
  position: fixed;
  align-items: center;
  bottom: 0;
  width: 100%;
}

footer > a {
  color: white;
  text-decoration: none;

}

nav > ul {
  margin: 0;
  background-color: #015a9d;
}

nav > ul > li {
  padding: .33em;
  display: inline-block;
}

.homePage > form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  /* margin: 0 auto; */
  /* max-width: 600px; */
  /* text-align: center; */
  padding-top: 230px;
  font-size: 1.3em;
}

#no-park-results {
  background-image: url(/assets/0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#no-restaurant-results {
  background-image: url(/assets/Kobe\ laying.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#no-service-results {
  background-image: url(/assets/Kobe\ bee.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }
}

  @media (min-width: 550px) {
    nav{
      background: #015a9d;
      width: 100%;
    }

    nav > .fa-bars {
      display: none;
    }

    nav > ul {
      display: flex;
      justify-content: space-evenly;
      /* padding: 0 0; */
    }

    nav > ul > li {
      display: inline-block;
      /* border: 1px solid; */
      /* padding: 0.5rem 0.5rem; */
      /* border-radius: 25px; */
      line-height: 20px;
      margin: 0 5px;
    }

    nav > ul > li > a {
      color: white;
      text-transform: uppercase;
      text-decoration: none;

    }

  }

  /* Container for form and main content */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

/* Form styling */
form {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  /* margin-right: 10px; */
  font-weight: bold;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #015a9d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Main content styling */
/* main {
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
} */

/* Table styling */
table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td img {
  width: 100px;
  height: 100px;
  object-fit: cover; /* optional, to ensure images fill the space */
}

